<?xml version="1.0" encoding="utf-8" ?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>agares.info</title>
    <link href="{{ url('app_homepage', {}, false) }}" />
    <link rel="self" href="{{ url('blog_feed_atom', {}, false) }}" />
    <updated>{{ posts[0].publishedDate|date('Y-m-d\\TH:i:sP') }}</updated>
    <author>
        <name>agares</name>
    </author>
    <id>urn:uuid:3da59f52-8317-43cf-8d34-874bd75d5350</id>
    {% for post in posts %}
        <entry>
            <title>{{ post.title }}</title>
            <link href="{{ url('blog_post', { slug: post.slug }, false) }}" />
            <id>{{ url('blog_post', { slug: post.slug }, false) }}</id>
            <updated>{{ post.publishedDate|date('Y-m-d\\TH:i:sP') }}</updated>
            <content type="html">{{ post.content|escape('html') }}</content>
        </entry>
    {% endfor %}
</feed>